@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */

  --color-white: hsl(0, 0%, 100%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-dark-blue-l: hsl(200, 15%, 8%);
  --color-very-dark-blue: hsl(207, 26%, 17%);
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-blue: hsl(240, 100%, 50%);
  /* Font Family */
  --font-*: initial;
  --font-sans: 'Nunito Sans', sans-serif;
  /* Font Size */
  --text-200: 0.75rem;
  --text-300: 0.875rem;
  --text-400: 1rem;
  --text-500: 1.125rem;
  --text-600: 1.25rem;
  --text-700: 1.375rem;
  --text-800: 1.5rem;
  --text-900: 2rem;
  /* Box Shadow */
  --shadow-one: 0 2px 4px rgba(0, 0, 0, 0.06);
  --shadow-two: 0 2px 9px rgba(0, 0, 0, 0.053);
  --shadow-three: 0 0 7px 2px rgba(0, 0, 0, 0.029);
  --shadow-four: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  /* Breakpoints */
  --breakpoint-lg: 68rem;
  --breakpoint-xl: 82rem;
  /* Grid */
  --my-grid-cols: repeat(auto-fit, minmax(16.3rem, 1fr));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: block;
  width: max-content;
  margin: auto;
  color: black;
  animation: spin 1000ms linear infinite;
}
.spinner svg {
  display: block;
}
